<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-JAVA" role="menuitem"><a href="{{site.baseurl}}tag/JAVA/">JAVA</a></li>
    <li class="nav-JDBC" role="menuitem"><a href="{{site.baseurl}}tag/JDBC/">JDBC</a></li>
    <li class="nav-WEB" role="menuitem"><a href="{{site.baseurl}}tag/WEB/">WEB</a></li>
    <li class="nav-TIL" role="menuitem"><a href="{{site.baseurl}}tag/TIL/">TIL</a></li>
    <li class="nav-Algorithm" role="menuitem"><a href="{{site.baseurl}}tag/Algorithm/">Algorithm</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>
